* {
  box-sizing: border-box;
}

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  margin: auto;
  text-align: center;
  background: whitesmoke;
}

#quote-body{
    margin: 0.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    
}


#quote-body:before {
  color: skyblue;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}



#quote-speaker{
    font-family: 'Pacifico', cursive;
    font-size: 24px;
    padding-bottom: 20px;
    color : #242424;
    
}

h1,
.h1 {
  color: rgb(3, 56, 56);

}

.h1 a {
  color: #102E87;
  text-decoration: none
}

.h1 a:visited {
  color: #102E87;
  text-decoration: none
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form,
.form {
  margin-bottom: 10px;
  padding: 15px;
  background-color: #1337a5;
  border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 0px #bababa;
  display: inline-block;
  width: 98%;
  max-width: 380px;
}

.main {
  margin-bottom: 25px;
  padding: 0px 10px 5px 10px;
  margin: 8px auto 8px;
  border: 2px solid skyblue;
  box-shadow: 5px 6px 0px skyblue;
  width: 95%;
  max-width: 600px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

button {
  font-size: 20px;
  border-radius: 5px;
  color: #0e2877;
  background-color: lightseagreen;
  border: 0px solid grey;
  cursor: pointer;
}

button:hover {
  background-color: cyan;
}

button:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}

footer {
  color: #0e2877;
}

small, .small {
  color:blue;
}